.footer {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background: #ee7379;
    div {
        //border-bottom: solid 1px black;
    }
    .footer__upper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 70%;
        @media (min-width: 1000px) {
            flex-direction: row;
            flex-wrap: wrap;
        }
        .footer__upper__left {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            background: #ec1d27;
            @media (min-width: 1000px) {
                width: 33.3%;
            }
            div {
                display: flex;
                justify-content: space-around;
                ul {
                    list-style: none;
                    padding: 0;
                }
            }
        }
        .footer__upper__center {
            display: flex;
            height: auto;
            width: 100%;
            background: #f64c54;
            @media (min-width: 1000px) {
                width: 33.4%;
                align-items: center;
            }
            div {
                padding: 2em;
            }
            .footer__upper__center__left {
                display: flex;
                //height: 100%;
                width: 33.3%;
                flex-direction: column;
            }
            .footer__upper__center__center {
                display: flex;
                //height: 100%;
                width: 33.4%;
                flex-direction: column;
            }
            .footer__upper__center__right {
                display: flex;
                //height: 100%;
                width: 33.3%;
                flex-direction: column;
            }
            img {
                width: 100%;
            }
        }
        .footer__upper__right {
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 100%;
            padding: 1em;
            background: #ee7379;
            @media (min-width: 1000px) {
                width: 33.3%;
            }
            form {
                display: flex;
                flex-wrap: wrap;
                
                input {
                    width: 100%;
                }
                textarea {
                    width: 100%;
                }
            }
        }
    }
    .footer__lower {
        display: flex;
        width: 100%;
        height: 10em;
        flex-direction: column;
        .footer__lower__level1 {
            display: flex;
            height: 80%;
            width: 100%;
            background: #f4a4a8;
            justify-content: space-between;
            padding: 2em;
            @media (min-width: 1000px) {
                justify-content: space-around;
            }
            img {
                height: 70%;
                width: auto;
            }
        }
        .footer__lower__level2 {
            display: flex;
            height: 20%;
            width: 100%;
            justify-content: space-around;
            color: white;
            background: brown;
        }
    }
}